import type { {{pascalCase name}}State } from "./state";
import { NodeProps, Handle, Position } from "api";

function {{pascalCase name}}({ state }: NodeProps<{{pascalCase name}}State>) {
  return <div>{{pascalCase name}}</div>;
}

export default {{pascalCase name}};
