import type { {{pascalCase name}}State } from "./state";

function {{pascalCase name}}(state: {{pascalCase name}}State) {
  return <div>{{pascalCase name}}</div>;
}

export default {{pascalCase name}};